body {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

img {
  margin-right: 15px;
  height: 90px;
  width: 90px;
  filter: brightness(174%);
}
.Thunderstorm {
  background-image: url("https://images.unsplash.com/photo-1492011221367-f47e3ccd77a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80");
}
.Clouds {
  background-image: url("https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80");
}
.Clear {
  background-image: url("https://images.unsplash.com/photo-1575824285366-059b454f222d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80");
}
.Snow {
  background-image: url("https://images.unsplash.com/photo-1520878682198-bdde6f442adc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=8");
}
.Rain {
  background-image: url("https://images.unsplash.com/photo-1519692933481-e162a57d6721?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
}
.Fog {
  background-image: url("https://images.unsplash.com/photo-1517328894681-0f5dfabd463c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80");
}
.undefined {
  background-image: url("https://images.unsplash.com/photo-1517328894681-0f5dfabd463c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80");
}

.navBar {
  margin: 30px auto;
  max-width: 800px;
}
.appBody {
  text-align: center;
  color: #4f5253;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  max-width: 800px;
  display: block;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: auto;
  color: #4f5253;
}

.form-control {
  padding: 5px 25px;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: middle;
  border-color: #6c757d;
}

.form-control:focus {
  border: none;
  outline-color: none;
  background: transparent;
}

.units {
  margin-left: 15px;
  position: relative;
  font-size: 16px;
  top: -24px;
}

.active {
  color: #4f5253;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}

.descriptor {
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.footer {
  margin: 24px;
  text-align: center;
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: hotpink;
}

#currentTemperature {
  font-size: 5rem;
  font-weight: bold;
}

#weatherDescription:first-letter {
  text-transform: capitalize;
}
